%h1 Items Available To Claim

%ul
  - @items.each do |item|
    %li= item.name
    %li= item.description
    - if current_user
      = form_for(item) do |f|
        = f.hidden_field :user_id
        = f.submit "Claim item", {:disabled => (true if item.user_id)}
    - else
      %li= link_to "Sign in to claim", new_user_session_path
