%h1 Items Available To Claim

%ul
  - @items.each do |item|
    %li= image_tag item.picture.url(:square) if item.picture
    %li= item.name
    %li= item.description
    - if current_user
      = form_for(item) do |f|
        = f.hidden_field :user_id
        = f.submit "Claim item"
    - else
      %li= link_to "Sign in to claim", new_user_session_path
    %hr
