%p.lead Feel free to claim any item you may want/need
.row
  - @items.each do |item|
    .col-sm-4.col-lg-4.col-md-4
      .thumbnail
        .caption
          = render 'action_button', item: item
          %br
          %h4= link_to item.name, item_path(item)
          %p= item.description
          - unless current_user
            %p= link_to "Sign in to claim", new_user_session_path
        - unless item.picture_updated_at.nil?
          = image_tag item.picture.url(:square), class: "img-responsive"
