!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title OurStuff
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .row
        - flash.each do |key, value|
          %div
            .bg-info{:class => "alert bg-#{key}"}
              = value
              %button.close.pull-right{"data-dismiss" => "alert", :type => "button"} ×
        .col-md-3
          %p.lead= link_to "Our Stuff", root_path
          .list-group
            - if user_signed_in?
              - if current_user.admin
                .list-group-item= link_to 'Add Item', new_item_path
              .list-group-item= link_to 'Logout', destroy_user_session_path, :method => :delete
            - else
              .list-group-item= link_to "Sign Up", new_user_registration_path
              .list-group-item= link_to 'Login', new_user_session_path
        .col-md-9
          = yield
